.filler {
    flex: 1 1 auto;
  }
  .gap {
    margin-right: 10px;
  }

  
  .card {
    position:absolute;
   top: 15%;
   height: fit-content;
   justify-content: center;
   background-color: lightgoldenrodyellow;
 }