.filler {
    flex: 1 1 auto;
  }
  .gap {
    margin-right: 10px;
  }


 .btn{
  background-color: lightblue;
  padding: auto;
  display: inline-block;
 padding: 5px;
 border-radius: 5px;

 }
 
 .table {
  position: initial;
  table-layout: fixed;
  width: auto;
  border-collapse: initial;
  border: 1px solid;
}
 th,
td {
  padding: 10px;

} 
